.input{
    background-color: var(--clr-white);
    border-radius: 8px;
    border: var(--brd-default);
    color: var(--clr-light);
    font-size: 1.6rem;
    font-weight: 400;
    padding: 1.6rem 2.4rem;
    width: 100%;
    transition: border .2s ease-out;

    &:focus{
        outline: none;
        border: 1px solid var(--clr-info); 
    }
}